


:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --athens-gray: #e9e8ec;
    --dune: #242221;
    --alabaster: #f8f8f8;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-width: 320px;
    background-color: var(--athens-gray);
    font-family: var(--font-roboto);
    font-size: 16px;
    color: var(--dune);
}


ul,
ol {
    list-style: none;
}

/* ======= Wrapper/Embrulho ======= */
.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

/* Nav */
.nav {
    display: flex;
    width: 5.6rem;
    height: calc(100vh - 19.25rem);
    min-height: 40rem;
    max-height: 50rem;
    margin: 11.53rem 2.45rem;
    padding: 7.5rem 0.825rem;
    background-color: var(--alabaster);
    border-radius: 10px;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}


.nav__link {
    display: block;
    padding: 0.7rem;
    font-size: 0;
    border-radius: 10px;
}























/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}